/*
Imports/Partials
*/
@import "reset";

#main {
    @import "partials/buttons";
}

/*
Basics
*/
$font-stack: Helvetica, sans-serif;
$primary-color: #333;

body {
    // here is a single line comment
    font: 100% $font-stack;
    /*
    here is a multi-line comment
    another line
    another line
    */
    color: $primary-color;
}

/*
Datatypes
*/
// null
$i-am-null: null;
// booleans
$i-am-bool: true;
// number
$a-number: 7;
// strings
$a-name: 'Karl';
$a-full-name: 'Karl' + 'Pyos';
// color
$i-am-color: #FFF;

/*
Comparison
*/
$padding: 50px;

h2 {
    @if ($padding <= 20px) {
        padding: $padding;
    } @else {
        padding: $padding / 2;
    }
}

/*
& (ampersand)
*/
.button {
    &:hover { color: white; }

    & > span { color: white; }
    & + span { color: white; }
    & ~ span { color: white; }
}

.btn {
    &-primary { color: blue; }
    &-secondary { color: green; }
}

.button {
    body.page-about & { color: gray; }
}

/*
Interpolation
*/
$hello: "Hello";
$world: "World";
#interp {
    content: "#{$hello}, #{$world}!"
}
    
/*
Mixins
*/
// use mixins with arguments, otherwise use placeholders
@mixin large-text {
    color: #ff0000;
    font: {
        family: Arial;
        size: 20px;
        weight:  bold;
    }
}

@mixin compound {
    @include highlighted-background;
    @include header-text;
}

@mixin highlighted-background { background-color: #fc0; }
@mixin header-text { font-size: 20px; }

h1 {
    @include large-text;
}

h4 {
    @include compound;
}

// Mixins with arguments
@mixin linx ($link, $visit, $hover, $active) {
    a {
        color: $link;
        &:visited { color: $visit; }
        &:hover { color: $hover; }
        &:active { color: $active; }
    }
}

#main {
    @include linx(white, blue, green, red);
}

// Default values
@mixin sx-border ($color, $width: 1in) {
    border: {
        color: $color;
        width: $width;
        style: dashed;
    }
    
}

p { @include sx-border(blue); }
h2 { @include sx-border(red, 2in); }
h3 { @include sx-border($width: 0, $color: green); }

// Spread
@mixin box-shadow ($shadows...) {
    -moz-box-shadow: $shadows;
    -webkit-box-shadow: $shadows;
    box-shadow: $shadows;
}

.shadows {
    @include box-shadow(0px 4px 5px #666, 2px 6px 10px #999);
}

/*
Inheritance with @extend
*/
.message {
    border: 1px solid #ccc;
    padding: 10px;
    color: #333;
}

.success {
    @extend .message;
    border-color: green;
}

.error {
    @extend .message;
    border-color: red;
}

.attention {
    font-size: 3em;
    background-color: #ff0;
}

.criticalError {
    @extend .error;
    @extend .attention;
    border-width: 3px;
}

.fatalError {
    @extend .criticalError;
    position: fixed;
    top: 10%;
}

// placeholder selector
%foo {
    color: red;
}

.bar {
    @extend %foo;
    background: blue;
}

.baz {
    @extend %foo;
    background: yellow;
}

/*
Nesting
*/
#main p {
    color: #00ff00;
    width: 97%;

    .redbox {
        background-color: #ff0000;
        color: #000000;
    }

    p, div {
        font-size: 2em;
        a { font-weight: bold; }
    }
}

a {
    font-weight: bold;
    text-decoration: none;
    &:hover { text-decoration: underline; }
    body.firefox & { font-weight: normal; }
}

// Nesting Properties
.funky {
    font: {
        family: fantasy;
        size: 30em;
        weight: bold;
    }
}

/*
Lists
*/
$font-list: 'Raleway', 'Dosis', 'Lato';
// Three comma separated elements

$pad-list: 10px 8px 12px;
// Three space separated elements

$multi-list: 'Roboto', 15px 1.3em;
// This multi-list has two lists

$colors-list: #34B900 #901988 #1012D9;
$bg-colors-list:  #040 #313 #004;
@each $current-color in $colors-list {
    $i: index($colors-list, $current-color);
    .stuff-#{$i} {
        color: $current-color;
        background-color: nth($bg-colors-list, $i);
    }
}

h1 {
    background-color: nth($bg-colors-list, 3);
}

/*
Maps
*/
$primary-colors: (
    "red": "#ff0000",
    "green": "#00ff00",
    "blue": "#0000ff"
);

@each $color-name, $color-code in $primary-colors {
    .thing-#{$color-name} {
        background: $color-code;
    }
}

/*
at-root Directive
*/
.parent {
    font-size: 1rem;
    padding: 1em;

    @at-root .likely-modified {
        font-size: 1.2em;
    }
}

/*
Functions
*/
// is very similar to a mixin, however the output is a single value
// can be any sass data type

// Built-in Functions
$main-color: #6dcff6;
$dc: darken($main-color, 20%);
$lc: lighten($main-color, 20%);
$oc: opacify($main-color, 0.5);
$tc: transparentize($main-color, 0.3);

$old-list: b, c, d, e ,f;
$list: prepend($old-list, a); // a, b, c, d, e, f;

$first-index: index($list, a); // 1
$last-index: last-index($list, b); // 2
$other-index: last-index($list, z); // null

$new-list: slice($list, 3, 5); // c, d, e

$new-list: to-string($list); // abcdef
$new-list: to-string($list, '-'); // a-b-c-d-e-f

// Your Own Functions
@function my-claculation-function($some-number, $another-number) {
    @return $some-number + $another-number;
};

@function clac-percent($target, $container) {
    @return ($target / $container) * 100%;
};

.container {
    padding: my-claculation-function(100px, 200px);
}

.inner-container {
    width: clac-percent(200px, 500px);
}

/*
Conditionals
*/
$type: monster;

p {
    @if $type == human { color: blue; }
    @else if $type == monster { color: red; }
    @else { color: green; }
}

@mixin test($condition) {
    $color: if($condition, blue, red);
    color: $color;    
}

.firstClass {
    @include test(true);
}

.secondClass {
    @include test(false);
}

@mixin txt($weight) {
    color: white;
    @if $weight == bold { font-weight: bold; }
}

.txt1 {
    @include txt(none);
}

.txt2 {
    @include txt(bold);
}

/*
Loops
*/
/* @for */
@for $i from 1 through 3 {
    .item-#{$i} { width: 2em * $i; }
}

/* @each */
@each $usr in bob, john, mike {
    .#{$usr}-avatar {
        background-image: url('/img/#{$usr}.png');
    }
}

// with map
$ppl: ( usr1:bob, usr2:john, usr3:bill );

@each $key, $usr in $ppl {
    .#{$key}-picture {
        background-image: url('/img/#{$usr}.png');
    }
}

//
$alt: alert, yellow, red;
$sub: submit, white, green;
$bck: back, blue, transparent;

@each $type, $txt, $back in $alt, $sub, $bck {
    .#{$type}-button {
        color: $txt;
        background-color: $back;
    }
}

/* @while */
$x: 1;
@while $x <= 4 {
    .col-#{$x} { width: 100/10 * $x + px; }
    $x: $x + 1;
};