/*
Imports/Partials
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

#main button {
  color: black; }

/*
Basics
*/
body {
  font: 100% Helvetica, sans-serif;
  /*
  here is a multi-line comment
  another line
  another line
  */
  color: #333; }

/*
Datatypes
*/
/*
Comparison
*/
h2 {
  padding: 25px; }

/*
& (ampersand)
*/
.button:hover {
  color: white; }
.button > span {
  color: white; }
.button + span {
  color: white; }
.button ~ span {
  color: white; }

.btn-primary {
  color: blue; }
.btn-secondary {
  color: green; }

body.page-about .button {
  color: gray; }

/*
Interpolation
*/
#interp {
  content: "Hello, World!"; }

/*
Mixins
*/
h1 {
  color: #ff0000;
  font-family: Arial;
  font-size: 20px;
  font-weight: bold; }

h4 {
  background-color: #fc0;
  font-size: 20px; }

#main a {
  color: white; }
  #main a:visited {
    color: blue; }
  #main a:hover {
    color: green; }
  #main a:active {
    color: red; }

p {
  border-color: blue;
  border-width: 1in;
  border-style: dashed; }

h2 {
  border-color: red;
  border-width: 2in;
  border-style: dashed; }

h3 {
  border-color: green;
  border-width: 0;
  border-style: dashed; }

.shadows {
  -moz-box-shadow: 0px 4px 5px #666, 2px 6px 10px #999;
  -webkit-box-shadow: 0px 4px 5px #666, 2px 6px 10px #999;
  box-shadow: 0px 4px 5px #666, 2px 6px 10px #999; }

/*
Inheritance with @extend
*/
.message, .success, .error, .criticalError, .fatalError {
  border: 1px solid #ccc;
  padding: 10px;
  color: #333; }

.success {
  border-color: green; }

.error, .criticalError, .fatalError {
  border-color: red; }

.attention, .criticalError, .fatalError {
  font-size: 3em;
  background-color: #ff0; }

.criticalError, .fatalError {
  border-width: 3px; }

.fatalError {
  position: fixed;
  top: 10%; }

.bar, .baz {
  color: red; }

.bar {
  background: blue; }

.baz {
  background: yellow; }

/*
Nesting
*/
#main p {
  color: #00ff00;
  width: 97%; }
  #main p .redbox {
    background-color: #ff0000;
    color: #000000; }
  #main p p, #main p div {
    font-size: 2em; }
    #main p p a, #main p div a {
      font-weight: bold; }

a {
  font-weight: bold;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }
  body.firefox a {
    font-weight: normal; }

.funky {
  font-family: fantasy;
  font-size: 30em;
  font-weight: bold; }

/*
Lists
*/
.stuff-1 {
  color: #34B900;
  background-color: #040; }

.stuff-2 {
  color: #901988;
  background-color: #313; }

.stuff-3 {
  color: #1012D9;
  background-color: #004; }

h1 {
  background-color: #004; }

/*
Maps
*/
.thing-red {
  background: "#ff0000"; }

.thing-green {
  background: "#00ff00"; }

.thing-blue {
  background: "#0000ff"; }

/*
at-root Directive
*/
.parent {
  font-size: 1rem;
  padding: 1em; }
  .likely-modified {
    font-size: 1.2em; }

/*
Functions
*/
.container {
  padding: 300px; }

.inner-container {
  width: 40%; }

/*
Conditionals
*/
p {
  color: red; }

.firstClass {
  color: blue; }

.secondClass {
  color: red; }

.txt1 {
  color: white; }

.txt2 {
  color: white;
  font-weight: bold; }

/*
Loops
*/
/* @for */
.item-1 {
  width: 2em; }

.item-2 {
  width: 4em; }

.item-3 {
  width: 6em; }

/* @each */
.bob-avatar {
  background-image: url("/img/bob.png"); }

.john-avatar {
  background-image: url("/img/john.png"); }

.mike-avatar {
  background-image: url("/img/mike.png"); }

.usr1-picture {
  background-image: url("/img/bob.png"); }

.usr2-picture {
  background-image: url("/img/john.png"); }

.usr3-picture {
  background-image: url("/img/bill.png"); }

.alert-button {
  color: yellow;
  background-color: red; }

.submit-button {
  color: white;
  background-color: green; }

.back-button {
  color: blue;
  background-color: transparent; }

/* @while */
.col-1 {
  width: 10px; }

.col-2 {
  width: 20px; }

.col-3 {
  width: 30px; }

.col-4 {
  width: 40px; }

/*# sourceMappingURL=main.css.map */
